<!DOCTYPE html>
                {%  load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>login</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<link rel="stylesheet" href="{% static "css/1.css" %}">
<link rel="shortcut icon" href="{% static "icon/favicon.ico"%}">
    <!-- Custom styles for this template -->
    <link href="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.10/examples/signin/signin.css" rel="stylesheet">

</head>
<body>
<h1><span class="ahref">{{message}}</span></h1>
 <div class="container">


      <form class="form-signin" action="logined" method="post">
          {% csrf_token %}
        <h2 class="form-signin-heading" style="display: inline-block">Please sign in</h2> <a href="registerIt" style="display: inline-block;float:right;margin-top: 30px;font-size: 20px">注册</a>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="email" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="pwd" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->
<script src="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.10/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>